body {
  background-color: #ffdb8e;
  height: 100vh;
  background-image: url("jacko.jpg");
  background-position: center;
  background-size: contain;
}

.header {
  text-align: center;
  font-family: "Creepster", cursive;
  font-size: 50px;
  background-color: rgba(95, 52, 0, 0.2);
  color: #fdae27;
}
.subtitle {
  text-align: center;
  font-family: "Eater", cursive;
  font-size: 26px;
  background-color: rgba(95, 52, 0, 0.2);
  color: #fdae27;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: rgba(95, 52, 0, 0.2);
}

table {
  grid-row: 1/3;
  grid-column: 1/2;
  padding-left: 65%;
  height: 60vh;
}

.keyboard {
  /* display: none; */
  padding: 10px;
  margin: 0px;
  font-size: 14px;
  font-family: "Griffy", cursive;
  border: 1px solid rgba(255, 0, 0, 0.693);
  background: radial-gradient(#ffc71d, #e1880a, #ff5e01);
  color: white;
  border-radius: 50%;
  width: 30px;
  text-justify: center;
}
.disabled {
  border: 1px solid #3a3222;
  background: radial-gradient(red, #c70000, #3a3222);
  color: #3a3222;
}
#guessing-box {
  display: flex;
  grid-row: 2/3;
  grid-column: 1/4;
  justify-content: center;
  font-family: "Griffy", cursive;
  color: #fdae27;
}
.guess-box {
  border-bottom: solid #fdae27 5px;
  /* background-color: rgba(206, 114, 2, 0.4); */
  width: 30px;
  margin: 3px;
  height: 40px;
  color: #fcf7ef;
  text-shadow: #3a3222;
  font-size: larger;
  text-transform: uppercase;
  text-align: center;
}
.textbox {
  display: grid;
  justify-items: center;
  place-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.playbutton {
  grid-row: 3/4;
  grid-column: 2/3;
  justify-self: center;
  place-self: center;
  border-radius: 40%;
  font-size: 38px;
  background: radial-gradient(orange, rgb(235, 82, 0), rgb(209, 0, 0));
  border-color: #b40000;
  padding: 20px;
  font-family: "Creepster", cursive;
}
.hangman {
  grid-row: 1/3;
  grid-column: 3/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.base {
  display: none;
  grid-column: 1/6;
  grid-row: 21/22;
  background: linear-gradient(to right, #592800, #9c4b00);
  border-left-color: black;
}
.post {
  display: none;
  grid-column: 3/4;
  grid-row: 1/21;
  background: linear-gradient(to right, #592800, #9c4b00);
  border-left-color: black;
}
.beam {
  display: none;
  grid-column: 3/13;
  grid-row: 1/2;
  background: linear-gradient(to right, #592800, #9c4b00);
  border-left-color: black;
}
.hanger {
  display: none;
  grid-column: 13/14;
  grid-row: 1/6;
  background: linear-gradient(to right, #592800, #9c4b00);
  border-left-color: black;
}

.head {
  display: none;
  grid-column: 11/16;
  grid-row: 6/10;
  justify-self: center;
  /* position: fixed; */
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 2px solid #ffe14b;
  /* right: 100px; */
  background: radial-gradient(#ffe14b, #ff9d00);
  background-color: #ff9d00;
}
.body {
  display: none;
  grid-column: 13/14;
  grid-row: 8/17;
  background-color: #ff9d00;
  background: linear-gradient(to right, #ff9d00, #ffe14b);
}
.leg1 {
  display: none;
  grid-column: 10/13;
  grid-row: 16/17;
  /* background-color: #ff9d00; */
  background: linear-gradient(to right, #ff9d00, #ffe14b);
}
.leg2 {
  display: none;
  grid-column: 14/17;
  grid-row: 16/17;
  background-color: #ff9d00;
  background: linear-gradient(to right, #ff9d00, #ffe14b);
}
.arm1 {
  display: none;
  grid-column: 10/13;
  grid-row: 11/12;
  /* background-color: #ff9d00; */
  background: linear-gradient(to right, #ff9d00, #ffe14b);
}
.arm2 {
  display: none;
  grid-column: 14/17;
  grid-row: 11/12;
  /* background-color: #ff9d00; */
  background: linear-gradient(to right, #ff9d00, #ffe14b);
}
.lost {
  display: none;
  position: absolute;
  left: 45%;
  top: 200px;
  width: 150px;
  /* justify-self: center;
  place-self: center;
  text-align: center; */
  font-family: "Griffy", cursive;
  font-size: 20px;
  color: #ffffff;
  text-shadow: #3a3222;
}

.won {
  display: none;
  grid-column: 1/4;
  height: 150px;
  width: 200px;
  text-align: center;
  justify-self: center;
  font-family: "Griffy", cursive;
  font-size: 16px;
  color: #ffffff;
  text-shadow: #3a3222;
}
